In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
main_data_path = '../pascal_voc_2007_data/voctrainval_06-nov-2007/VOCdevkit/VOC2007/ImageSets/Main/'
# For train & val set: 'pascal_voc_2007_data/voctrainval_06-nov-2007/VOCdevkit/VOC2007/ImageSets/Main/'
# For test set: 'pascal_voc_2007_data/voctest_06-nov-2007/VOCdevkit/VOC2007/ImageSets/Main/'

path_ending = '_train.txt'
# For train set: '_train.txt'
# For val set: '_val.txt'
# For test set: '_test.txt'

output_path = '../labels/train_labels.csv'
# For train set: '../labels/train_labels.csv'
# For val set: '../labels/val_labels.csv'
# For test set: '../labels/test_labels.csv'

In [3]:
import os

train_data_paths = [main_data_path + path for path in sorted(os.listdir(main_data_path)) if path.endswith(path_ending) ]
labels = [path.split('/')[-1][:-len(path_ending)] for path in train_data_paths]

train_data_paths[0]
labels[0]

'../pascal_voc_2007_data/voctrainval_06-nov-2007/VOCdevkit/VOC2007/ImageSets/Main/aeroplane_train.txt'

'aeroplane'

In [4]:
from collections import defaultdict

annotation_per_class = defaultdict(list)
for path in train_data_paths:
    with open(path, 'r') as file:
        for line in file:
            image_id, annotation = line[:6] + '.jpg', int(line[6:].strip())
            annotation_per_class[image_id].append(annotation)

In [5]:
for key, val in annotation_per_class.items():
    print(key, '-->', val)
    break

000012.jpg --> [-1, -1, -1, -1, -1, -1, 1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]

In [6]:
import pandas as pd

df = pd.DataFrame(annotation_per_class)
df.head()

,000012.jpg,000017.jpg,000023.jpg,000026.jpg,000032.jpg,000033.jpg,000034.jpg,000035.jpg,000036.jpg,000042.jpg,...,009920.jpg,009926.jpg,009938.jpg,009940.jpg,009942.jpg,009944.jpg,009945.jpg,009949.jpg,009959.jpg,009961.jpg
0,-1,-1,-1,-1,1,1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,1,-1,-1,-1,-1,-1,-1
3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [7]:
df = df.reset_index(drop=True)
df["index"] = labels
df.set_index('index', inplace=True)
df = df.transpose()
df.head()

index,aeroplane,bicycle,bird,boat,bottle,bus,car,cat,chair,cow,diningtable,dog,horse,motorbike,person,pottedplant,sheep,sofa,train,tvmonitor
000012.jpg,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
000017.jpg,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,1,-1,-1,-1,-1,-1
000023.jpg,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1
000026.jpg,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
000032.jpg,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1

In [8]:
df.to_csv(output_path)

In [9]:
# END